#!/usr/bin/env python

PACKAGE = "human_articular_space"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Definir parámetros dinámicos
gen.add("upperarm_length", double_t, 0, "Length of the upper arm", 0.28, 0.1, 1.0)
gen.add("forearm_length", double_t, 0, "Length of the forearm", 0.25, 0.1, 1.0)
gen.add("neck_shoulder_length", double_t, 0, "Distance between neck and shoulder", 0.175, 0.05, 0.5)

exit(gen.generate(PACKAGE, "dynamic_parameters", "DynamicParameters"))
