<?xml version="1.0"?>

<!-- MODELO URDF DEL BRAZO HUMANO DERECHO -->
<!-- Longitudes de los eslabones visuales parametrizadas con XACRO. Especificar en launch. -->
<!-- Cuatro articulaciones de rotación [q1 q2 q3 q4] -->
<!-- Articulaciones de la muñeca no se han considerado -->
<!-- Contiene dos articulaciones prismáticas para adaptar las longitudes del brazo superior y del antebrazo. Esto afecta a TF -->
<!-- ROS1 y RViz no permiten modificar el URDF de manera dinámica, luego, las longitudes de los eslabones visuales permanencen constante. Esto no afecta al calculo del Modelo Cinemático Directo -->
<!-- Rodrigo Castro Ochoa, rcastro@uma.es, 2025-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="human_right_arm">

<!-- ############## Longitudes visuales parametrizadas ############## -->
<xacro:property name="visual_upperarm_length" value="$(arg visual_upperarm_length)"/>
<xacro:property name="visual_forearm_length" value="$(arg visual_forearm_length)"/>

<!-- ############## Color de los eslabones del URDF ############## -->
<material name="color">
    <color rgba="0.1 0.1 0.1 1"/>
</material>

<!-- ############## ESLABONES ############## -->
<!-- Los eslabones con f1 o f2 son eslabones ficticios. Unen articulaciones que se encuentran en un mismo punto -->

<link name="base_shoulder"/> <!-- Base del URDF -->

<link name="RightShoulder_f1" />

<link name="RightShoulder_f2" />

<link name="RightUpperArm_f1" />

<link name="RightUpperArm"> <!-- Eslabón del upperarm -->
    <visual>
        <origin xyz="0 0 ${-visual_upperarm_length/2}" rpy="0 0 0"/>
        <geometry>
            <cylinder length="${visual_upperarm_length}" radius="0.04"/>
        </geometry>
        <material name="color"/>
    </visual>
</link>

<link name="RightForeArm_f1" />

<link name="RightForeArm_f2" />

<link name="RightForeArm"> <!-- Eslabón del forearm -->
    <visual>
        <origin xyz="0 0 ${-visual_forearm_length/2}" rpy="0 0 0"/>
        <geometry>
            <cylinder length="${visual_forearm_length}" radius="0.03"/>
        </geometry>
        <material name="color"/>
    </visual>
</link>

<link name="Wrist"/> <!-- Eslabón de la muñeca. Su orientación es la del manipulador si le agarrase normal para q5=90 -->


<!-- Representación de la mano derecha -->
<link name="RightFakeHand">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.1 0.02 0.1"/> <!-- Tamaño del box (largo x ancho x alto) -->
        </geometry>
        <material name="color"/>
    </visual>
</link>

<link name="RightFakeFingers">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.07 0.01 0.05"/> <!-- Tamaño del box (largo x ancho x alto) -->
        </geometry>
        <material name="color"/>
    </visual>
</link>

<!-- ############## ARTICULACIONES ############## -->
<!-- Elevación frontal del hombro (q1) -->
<joint name="right_arm_q1" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <parent link="base_shoulder"/>
    <child link="RightShoulder_f1"/>
    <limit effort="30" velocity="1.0" lower="-0.5235987756" upper="2.61799387799"/> <!-- Límites articulares: -30º a 150º -->
    <axis xyz="0 0 1"/> <!-- Rotación alrededor de Z -->
</joint>

<!-- Movimiento lateral del hombro (q2) -->
<joint name="right_arm_q2" type="revolute">
    <origin xyz="0 0 0" rpy="0 -1.5708 0 "/> <!-- α = 90° -->
    <parent link="RightShoulder_f1"/>
    <child link="RightShoulder_f2"/>
    <limit effort="30" velocity="1.0" lower="-0.5235987756" upper="2.26892802759"/> <!-- Límites articulares: -30º a 130º -->
    <axis xyz="0 0 1"/> <!-- Rotación alrededor de Z -->
</joint>

<!-- ARTICULACION PRISMATICA DE LONGITUD DEL UPPERARM -->
<joint name="upperarm_length" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="RightShoulder_f2"/>
    <child link="RightUpperArm_f1"/>
    <limit effort="30" velocity="1.0" lower="0.1" upper="0.5"/> <!-- Límites articulares: 0.1m a 0.5m -->
    <axis xyz="0 -1 0"/> <!-- Extensión en el eje Y (sentido negativo) -->
</joint>

<!-- Rotación interna/externa del hombro (q3) -->
<joint name="right_arm_q3" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 3.14159 0"/>
    <parent link="RightUpperArm_f1"/>
    <child link="RightUpperArm"/>
    <limit effort="30" velocity="1.0" lower="-1.57079632679" upper="1.57079632679"/> <!-- Límites articulares: -90° a 90°-->
    <axis xyz="0 0 1"/> <!-- Rotación alrededor de Z -->
</joint>

<!-- Flexión del codo (q4) -->
<joint name="right_arm_q4" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 1.5708 0"/>
    <parent link="RightUpperArm"/>
    <child link="RightForeArm_f1"/>
    <limit effort="30" velocity="1.0" lower="0" upper="3.14159"/> <!-- Límites articulares: 0° a 180° -->
    <axis xyz="0 0 1"/> <!-- Rotación alrededor de Z -->
</joint>

<!-- ARTICULACION PRISMATICA DE LONGITUD DEL FOREARM -->
<joint name="forearm_length" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="RightForeArm_f1"/>
    <child link="RightForeArm_f2"/>
    <limit effort="30" velocity="1.0" lower="0.1" upper="0.5"/> <!-- Límites articulares: de 0.1m a 0.5m -->
    <axis xyz="1 0 0"/> <!-- Extensión en el eje X -->
</joint>

<!-- Pronación/supinación del antebrazo (q5) -->
<joint name="right_arm_q5" type="revolute">
    <origin xyz="0 0 0" rpy="0 1.5708 0 "/>
    <parent link="RightForeArm_f2"/>
    <child link="RightForeArm"/>
    <limit effort="30" velocity="1.0" lower="0" upper="3.14159"/> <!-- Límites articulares: 0° a 180° -->
    <axis xyz="0 0 1"/> <!-- Rotación alrededor de Z -->
</joint>

<!-- Articulaciones fijas de la mano -->
<joint name="jRighthand_f0_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 1.5708 0 "/>
    <parent link="RightForeArm"/>
    <child link="Wrist"/>
</joint>

<!-- Articulaciones fijas de la mano. Entre los eslabones visuales de la mano. Se divide en dos partes -->
<joint name="jRighthand_f1_fixed" type="fixed">
    <origin xyz="-0.05 0 0" rpy="0 -1.5708 0 "/> <!-- l_box/ 2 -->
    <parent link="Wrist"/>
    <child link="RightFakeHand"/>
</joint>

<joint name="jRighthand_f2_fixed" type="fixed">
    <origin xyz="0.015 0.005 0.075" rpy="0 0 0 "/> <!-- l_box/ 2 -->
    <parent link="RightFakeHand"/>
    <child link="RightFakeFingers"/>
</joint>

</robot>