<launch>

    <!-- ***********************************************************************-->
    <!--  ROSLAUNCH FILE    (http://wiki.ros.org/roslaunch/)                    -->
    <!--                                                                        -->
    <!--  COMMAND-LINE USAGE:                                                   -->
    <!--  roslaunch upper_limb_kinematics kinematics_right_arm.launch           -->
    <!--                                                                        -->
    <!--  FLAGS:                                                                -->
    <!--  use_rviz:         use_rviz:=true / use_rviz:=false                    -->
    <!--  use_DK_listener: use_DK_listener:=true / use_DK_listener:=false    -->
    <!--                                                                        -->
    <!--  EXAMPLES:                                                             -->
    <!--  (1) roslaunch upper_limb_kinematics kinematics_right_arm.launch use_rviz:=false use_DK_listener:=false    -->
    <!--  (2) roslaunch upper_limb_kinematics kinematics_right_arm.launch use_rviz:=true use_DK_listener:=true      -->
    <!-- ***********************************************************************-->

    <!-- Argumentos de configuración del launch -->
    <arg name="use_rviz" default="true" />
    <arg name="use_DK_listener" default="true" doc="Lanza un listener a las TF de ROS"/>
    <arg name="franka_control" default="true" doc="Lanza el nodo de control de franka para poder usar su EE como wrist"/>
    

    <group ns="right_arm">

        <!-- Parámetros visuales del URDF-->
        <arg name="upperarm_length" default="0.3"/>
        <arg name="forearm_length" default="0.25"/>

        <!-- URDF del brazo derecho -->
        <param name="/right_arm_description" command="$(find xacro)/xacro $(find upper_limb_kinematics)/urdf/human_right_arm_sept.xacro upperarm_length:=$(arg upperarm_length) forearm_length:=$(arg forearm_length)" />

        <!-- Nodo para el cálculo de la cinematica inversa del brazo -->
        <node name="IK" pkg="upper_limb_kinematics" type="IK_arm.py" required="true" output="screen" />

        <!-- TF del hombro -->
        <node name="TF_shoulder_publisher" pkg="upper_limb_kinematics" type="TF_shoulder_publisher.py" required="true" output="log" >
            <param name="child_id" value="base_shoulder" />
        </node>

        <!-- Publicar transformaciones basadas en el URDF.  -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="log" required="true" >
            <remap from="robot_description" to="/right_arm_description" />
        </node>

        <group if="$(arg use_DK_listener)">
            <!-- Lanzar Cinemática directa -->
            <node name="DK_listener" pkg="upper_limb_kinematics" type="DK_listener.py" required="false" respawn="false"/>
        </group>

        <!-- Nodo para el cálculo de la dinámica, matriz jacobiana, matriz de gravedad -->
        <include file="$(find upper_limb_kinematics)/launch/dynamics.launch" />
            
    </group>

    <!-- Nodo franka_control para usar su EE como wrist -->
    <group if="$(arg franka_control)">
        <include file="$(find franka_control)/launch/franka_control.launch"/>
    </group>

    <!-- Transformación estática entre base_link y fr3_link0. Esto permite poder ver el URDF del robot en el RViz del brazo  -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_FR3" args="0 0 0 0 0 0 1 base_link fr3_link0" />

    <group if="$(arg use_rviz)">
        <!-- Lanzar RViz con una configuración predeterminada -->
        <node name="rviz_arm" pkg="rviz" type="rviz" args="-d $(find upper_limb_kinematics)/rviz/config_right_arm.rviz" required="false" respawn="false"/>
    </group>



</launch>
