<launch>

    <!-- ***********************************************************************-->
    <!--  ROSLAUNCH FILE    (http://wiki.ros.org/roslaunch/)                    -->
    <!--                                                                        -->
    <!--  COMMAND-LINE USAGE:                                                   -->
    <!--  roslaunch human_articular_space kinematics_right_arm.launch           -->
    <!--                                                                        -->
    <!--  FLAGS:                                                                -->
    <!--  use_rviz:         use_rviz:=true / use_rviz:=false                    -->
    <!--  use_tf2_listener: use_tf2_listener:=true / use_tf2_listener:=false    -->
    <!--                                                                        -->
    <!--  EXAMPLES:                                                             -->
    <!--  (1) roslaunch human_articular_space kinematics_right_arm.launch use_rviz:=false use_tf2_listener:=false    -->
    <!--  (2) roslaunch human_articular_space kinematics_right_arm.launch use_rviz:=true use_tf2_listener:=true      -->
    <!-- ***********************************************************************-->

    <!-- Argumentos de configuración del launch -->
    <arg name="use_rviz" default="true" />
    <arg name="use_tf2_listener" default="false" />
    
    <!-- Namespace de los nodos/topics -->
    <arg name="namespace1" default="human_body" />
    <arg name="namespace2" default="right_arm" />

    <group ns="$(arg namespace1)">
        <group ns="$(arg namespace2)">

            <!-- Parámetros visuales -->
            <arg name="visual_upperarm_length" default="0.3"/>
            <arg name="visual_forearm_length" default="0.25"/>

            <!-- URDF del brazo derecho -->
            <param name="/right_arm_description" command="$(find xacro)/xacro $(find human_articular_space)/urdf/human_right_arm.xacro visual_upperarm_length:=$(arg visual_upperarm_length) visual_forearm_length:=$(arg visual_forearm_length)" />

            <!-- Nodo para el cálculo de la cinematica inversa del brazo -->
            <node name="IK_arm" pkg="human_articular_space" type="IK_arm_calculator.py" required="true" output="screen" >
                <param name="namespace1" value="$(arg namespace1)" />
            </node>

            <!-- Nodo encargado de convertir a joint_states -->
            <node name="convert_to_joint_states" pkg="human_articular_space" type="human_body_to_joint_states_converter.py" required="true" output="log">
                <param name="namespace1" value="$(arg namespace1)" /> 
            </node>

            <!-- TF del hombro -->
            <node name="locate_shoulder_TF_publisher" pkg="human_articular_space" type="pose_shoulder_TF_publisher.py" required="true" output="log" >
                <param name="child_id" value="base_shoulder" />
            </node>

            <!-- Publicar transformaciones basadas en el URDF.  -->
            <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="log" required="true" >
                <remap from="robot_description" to="/right_arm_description" />
            </node>

        </group>
    </group>

    <group if="$(arg use_rviz)">
        <!-- Lanzar RViz con una configuración predeterminada -->
        <node name="rviz_arm" pkg="rviz" type="rviz" args="-d $(find human_articular_space)/rviz/config_right_arm.rviz" required="false" respawn="true"/>
    </group>

    <group if="$(arg use_tf2_listener)">
        <!-- Lanzar Cinemática directa -->
        <node name="tf2_listener" pkg="human_articular_space" type="tf2_listener.py" required="false" respawn="false"/>
    </group>

</launch>