<launch>
    <arg name="namespace1" default="human_body" />
    <arg name="namespace2" default="right_arm" />

    <!-- <param name="/robot_description" value="PLACEHOLDER" /> -->

    <!-- <param name="/human_body/right_arm/upperarm_length" value="0.28" />
    <param name="/human_body/right_arm/forearm_length" value="0.25" />
    <param name="/human_body/right_arm/neck_shoulder_length" value="0.175" /> -->

    <group ns="$(arg namespace1)">
        <group ns="$(arg namespace2)">

            <!-- Inicio de parámetros al inicio -->
            <param name="dynamic_parameter_node/upperarm_length" value="0.28" />
            <param name="dynamic_parameter_node/forearm_length" value="0.25" />
            <param name="dynamic_parameter_node/neck_shoulder_length" value="0.175" />

            <!-- Nodo para manejar parámetros dinámicos -->
            <node name="dynamic_parameter_node" pkg="human_articular_space" type="dynamic_parameter_node.py" output="screen" required="true" />

            <!-- Nodo para generación dinámica del URDF -->
            <node name="dynamic_urdf_generator" pkg="human_articular_space" type="generate_urdf.py" output="screen" required="true"/>
            
            <!-- Nodo wrapper para reiniciar robot_state_publisher -->
            <node name="visualization_reboot" pkg="human_articular_space" type="visualization_reboot.py" output="screen" />

            <!-- Nodo para el cálculo de los ángulos DH -->
            <node name="IK_arm" pkg="human_articular_space" type="IK_arm_calculator.py" output="log" >
                <param name="namespace1" value="$(arg namespace1)" />
            </node>

            <!-- Nodo encargado de convertir a joint_states -->
            <node name="convert_to_joint_states" pkg="human_articular_space" type="human_body_to_joint_states_converter.py" output="screen">
                <param name="namespace1" value="$(arg namespace1)" /> 
            </node>

            <!-- TF del hombro -->
            <node name="locate_shoulder_TF_publisher" pkg="human_articular_space" type="pose_shoulder_TF_publisher.py" output="log" >
                <param name="child_id" value="base_neck" />
            </node>

            <!-- Publicar transformaciones basadas en el URDF.  -->
            <!-- NOTA: nodo comentado porque su inicio está encapsulado en visualization_reboot.py para evitar una primera inicializacion con error -->
            <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="log" respawn="true" />

        </group>
    </group>

    <!-- Lanzar RViz con una configuración predeterminada -->
    <node name="rviz_arm" pkg="rviz" type="rviz" args="-d $(find human_articular_space)/config/config_right_arm.rviz" required="false" respawn="true" />

    <!-- Nodo GUI para cambiar los parametros -->
    <node name="rqt_reconfigure_gui" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" />

</launch>