<launch>

    <!-- Cargar el modelo URDF desde un archivo xacro -->
    <!-- Definir parametros -->
    <arg name="upper_arm_length" default="0.3"/>
    <arg name="fore_arm_length" default="0.25"/>
    <arg name="neck_rshoulder_length" default="0.15"/> <!-- Distancia entre el cuello y el hombro derecho-->

    <param name="robot_description" command="$(find xacro)/xacro $(find human_description)/urdf/my_human_arm_xacro_modified.xacro upper_arm_length:=$(arg upper_arm_length) fore_arm_length:=$(arg fore_arm_length) neck_rshoulder_length:=$(arg neck_rshoulder_length)" />

    <!-- Publicar transformaciones basadas en el URDF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Lanzar RViz con una configuración predeterminada -->
    <node name="rviz_arm" pkg="rviz" type="rviz" args="-d $(find human_description)/config/config_right_arm.rviz" required="true" />

    <!-- Nodo para el cálculo de los ángulos DH -->
    <node name="calculate_DH_angles" pkg="human_articular_space" type="calculate_DH_angles.py" output="screen" />

    <!-- Nodo encargado de convertir a joint_states -->
    <node name="convert_to_joint_states" pkg="human_articular_space" type="convert_to_JointState.py" output="screen" />

</launch>